
FirstAPI/obj/Debug/net5.0/FirstAPI.assets.cache
FirstAPI/obj/Debug/net5.0/FirstAPI.csproj.AssemblyReference.cache
FirstAPI/obj/Debug/net5.0/FirstAPI.GeneratedMSBuildEditorConfig.editorconfig
FirstAPI/obj/project.nuget.cache
FirstAPI/obj/project.assets.json
FirstAPI/obj/FirstAPI.csproj.nuget.g.targets
FirstAPI/obj/FirstAPI.csproj.nuget.g.props
FirstAPI/obj/FirstAPI.csproj.nuget.dgspec.json
FirstAPI/obj/Debug/net5.0/FirstAPI.GeneratedMSBuildEditorConfig.editorconfig
FirstAPI/obj/Debug/net5.0/FirstAPI.assets.cache
FirstAPI/.vs/FirstAPI/v17/.suo
FirstAPI/.vs/FirstAPI/v17/.futdcache.v1
FirstAPI/.vs/FirstAPI/v16/.suo
FirstAPI/.vs/FirstAPI/DesignTimeBuild/.dtbcache.v2
FirstAPI/.vs/FirstAPI/DesignTimeBuild/.dtbcache.v2
